<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <form method="POST" action="/new">
        <h1>Create Message</h1>
        <label>
            Author
            <input name="user">
        </label>
        <label>
            Message
            <input name="text">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>