<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Messageboard</title>
</head>
<body>
    <a href="./new">Enter New Message</a>
    <% messages.forEach((message) => { %>
    <div>
        <div><%=message.user + ": " + message.text + "   "%>
        </div>
    </div>
    <% }) %>
</body>
</html>